@page
@model LogoutModel
<hr />
    <div class="container">
        @{
            ViewData["Title"] = "Log out";
        }

        <header>
            <p>Click logOut If You Sure To Log Out Or Click Your Name To Go To Your Profile Settings</p>
        </header>
        </div>